<dialog>
  <form action="" method="post">
    <button aria-label="Close" type="button" onclick="closeDialog(event)">X</button>
    <ul>
      <li class="form-item">
        <label for="folder_name"></label>
        <input type="text" name="folder_name" id="folder_name">
      </li>
    </ul>
    <button type="submit">Create</button>
  </form>
</dialog>