<section id="controls">
  <button onclick="openDialog(event)" data-form-type="uploadFile">File Upload</button>
  <button onclick="openDialog(event)" data-form-type="addFolder">New Folder</button>
</section>