<section id="controls">
  <button onclick="openDialog(event)" data-url="form/file/upload" data-form-action="<%= formAction %>">File Upload</button>
  <button onclick="openDialog(event)" data-url="form/folder/add" data-form-action="/drive/folder/create">New Folder</button>
</section>