<section id="controls">
  <button onclick="openDialog(event)" data-action="form/file/upload">File Upload</button>
  <button onclick="openDialog(event)" data-action="form/folder/add">New Folder</button>
</section>