<section id="controls">
  <button onclick="openDialog(event)" data-url="form/file/upload">File Upload</button>
  <button onclick="openDialog(event)" data-url="form/folder/add">New Folder</button>
</section>