<form action="" method="dialog" onsubmit="onSubmit(event)" onclick="stopPropagation(event)" class="form-delete-folder">
  <p><%= locals.content.msg %></p>
  <button type="button" onclick="closeDialog()">Cancel</button>
  <button type="submit">Delete</button>
</form>