<form action="" onsubmit="onSubmit(event)" method="dialog" onclick="stopPropagation(event)" class="form-edit-folder" data-form-type="editFolder" data-method="DELETE">
  <p><%= msg %></p>
  <button type="button" onclick="closeDialog()">Cancel</button>
  <button type="button">Delete</button>
</form>