<form action="/drive/file/<%= fileID %>" onsubmit="onSubmit(event, deleteItem)" method="dialog" onclick="stopPropagation(event)" class="form-edit-folder" data-form-type="deleteFile" data-item-id="<%= fileID %>">
  <p><%= msg %></p>
  <button type="button" onclick="closeDialog()">Cancel</button>
  <button type="submit">Delete</button>
</form>