<form action="/drive/folder/<%= folderID %>" onsubmit="onSubmit(event, deleteItem)" method="dialog" class="form-edit-folder" data-item-id="<%= folderID %>">
  <p><%= msg %></p>
  <div class="form-controls">
    <button type="button" onclick="closeDialog(event)" class="btn-cancel">Cancel</button>
    <button type="submit">Delete</button>
  </div>
</form>