<nav class="drive-path">
  <ul>
    <% if (!locals.drivePathFolders || locals.drivePathFolders?.length === 0) { %>
      <li >
        <a href="/drive">Drive</a>
      </li>
    <% } else { %>
      <li >
        <a href="/drive">Drive</a>
          <span class="chevron">
            <%- include('../../public/assets/icons/chevron_right.svg') %>
          </span>
      </li>
        <% drivePathFolders.forEach((folder, i) => { %>
          <li>
            <a href="/drive/folder/<%= folder.id %>"><%= folder.name %></a>
            <% if (i !== (drivePathFolders.length - 1)) { %>
              <span class="chevron">
                <%- include('../../public/assets/icons/chevron_right.svg') %>
              </span>
            <% } %>
          </li>
        <% }) %>
    <% } %>
  </ul>
</nav>

<%# Is there another way to include and exclude chevron_right.svg? %>