<form action="/drive/file/<%= file.id %>" onsubmit="onSubmit(event, editItem)" method="POST" onclick="stopPropagation(event)" class="form-edit-file" data-item-id="<%= file.id %>">
  <h2>Rename</h2>
  <ul>
    <li class="form-item">
      <label for="file_name">Rename</label>
      <input type="text" name="file_name" id="file_name" oninput="name_onInput(event)" value="<%= file.name %>">
      <% if (locals.errors?.file_name) { %>
        <p class="input-error active-error"><%= errors?.file_name.msg %></p>
      <% } %>
    </li>
  </ul>
  <button type="button" onclick="closeDialog()">Cancel</button>
  <button type="submit">Ok</button>
</form>