<form action="<%= locals.formAction ?? '' %>" onsubmit="onSubmit(event, editItem)" method="dialog" onclick="stopPropagation(event)" class="form-edit-folder" data-item-id="<%= locals.folderID ?? folder.id %>">
  <h2>Rename</h2>
  <ul>
    <li class="form-item">
      <label for="folder_name">Rename</label>
      <input type="text" name="folder_name" id="folder_name" oninput="name_onInput(event)"  value="<%= locals.folder?.name || locals.errors?.folder_name.value %>">
      <% if (locals.errors?.folder_name) { %>
        <p class="input-error active-error"><%= errors.folder_name.msg %></p>
      <% } %>
    </li>
  </ul>
  <button type="button" onclick="closeDialog()">Cancel</button>
  <button type="submit">Ok</button>
</form>