<article>
  <ul>
    <li>
      <span>Filename:</span>
      <span><%= file.name %></span>
    </li>
    <li>
      <span>Size:</span>
      <span><%= file.size %></span>
    </li>
    <li>
      <span>Uploaded:</span>
      <span class="created-at"><%= file.createdAt %></span>
    </li>
  </ul>
</article>