<article>
  <ul>
    <li>
      <span>Filename:</span>
      <%= file.name %>
    </li>
    <li>
      <span>Size:</span>
      <%= file.size %>
    </li>
    <li>
      <span>Uploaded:</span>
      <%= file.createdAt %>
    </li>
  </ul>
</article>