<article class="file-details">
  <ul>
    <li>
      <span>Filename:</span>
      <span><%= file.name %></span>
    </li>
    <li>
      <span>Size:</span>
      <span><%= utils.formatBytes(file.size) %></span>
    </li>
    <li>
      <span>Created at:</span>
      <span class="created-at"></span>
    </li>
  </ul>
</article>