<section class="folders">
  <% if (folders.length > 0) { %>
    <ul>
      <% folders.forEach((folder) => { %>
        <%- include('./itemFolder', { folder }) %>
      <% }) %>
    </ul>
  <% } %>
</section>