<footer>
  <ul class="footer-main">
    <li>Footer</li>
    <ul>
      <li>
        <a href="https://github.com/mikeyCos/file-uploader" target="_blank">
          <%- include('../../public/assets/icons/github-mark/github-mark.svg') %>
        </a>
      </li>
    </ul>
  </ul>
</footer>