<header class="header-main">
  <nav class="nav-main">
    <ul class="nav-left">
      <li>
        <a href="#">
          <%- include('../../public/assets/icons/upload.svg') %>
          <h1>File Uploader</h1>
        </a>
      </li>
    </ul>

    <div class="nav-right-wrapper">
      <ul class="nav-right">
        <li>
          <a href="/">Home</a>
        </li>
  
        <li>
          <a href="/faq">FAQ</a>
        </li>
  
        <% if (locals.currentUser) { %>
          <li>
            <a href="/drive">Drive</a>
          </li>
          <li class="account-info">
            <a href="#">Account</a>
            <ul>
              <li>
                <span>Logged in as</span>
                <span><%= currentUser.username %></span>
              </li>
              <ul class="account-controls">
                <li>
                  <form action="/account/logout" method="POST" class="logout">
                    <button type="submit">
                      <%- include('../../public/assets/icons/logout.svg') %>
                      <span>Log out</span>
                    </button>
                  </form>
                </li>
              </ul>
            </ul>
          </li>
          
        <% } else { %>
          <li>
            <a href="/account/login">Log in</a>
          </li>
          <li>
            <a href="/account/create">Create account</a>
          </li>
        <% } %>
        <li>
          <a href="/support">Contact support</a>
        </li>
      </ul>
    </div>
    <%- include('menuButton') %>
  </nav>
</header>
