<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/root.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/forms.css">

  <script src="/name_onInput.js" defer></script>
  <script src="/uploadFiles_onChange.js" defer></script>
  <script src="/dialogController.js" defer></script>
  <script src="/form_onSubmit.js" defer></script>
  
  <title><%= title %></title>
</head>
