<article onclick="stopPropagation(event)">
  <label for="sharedURL">Shared URL:</label>
  <input type="text" name="sharedURL" id="sharedURL" value="<%= shareURL %>" disabled>
  <button type="button" onClick="copyToClipboard(event)">Copy</button>
</article>