<form action="/drive/upload/file" method="POST" enctype="multipart/form-data" class="form-upload-file">
  <h2>Upload File(s)</h2>
  <ul>
    <li class="form-item">
      <label for="upload_file">Upload file</label>
      <input type="file" id="upload_file" name="upload_file" multiple>
    </li>
  </ul>
  <button type="button" onclick="closeDialog()">Cancel</button>
  <button type="submit">Upload</button>
</form>