<form action="<%= locals.formAction ?? '' %>" method="dialog" onsubmit="onSubmit(event, uploadFiles)" onclick="stopPropagation(event)" enctype="multipart/form-data" class="form-upload-files">
  <h2>Upload file(s)</h2>
  <ul>
    <li class="form-item">
      <input type="file" name="upload_files" onchange="uploadFiles_onChange(event)" id="upload_files" multiple>
      <label for="upload_files">Choose file(s)</label>
      <% if (locals.errors?.upload_files) { %>
        <p class="input-error active-error"><%= errors?.upload_files.msg %></p>
      <% } %>
      <p class="upload-count">No files selected</p>
    </li>
  </ul>
  <ul class="upload-preview"></ul>
  <div class="form-controls">
    <button type="button" onclick="closeDialog()" class="btn-cancel">Cancel</button>
    <button type="submit" disabled>Upload</button>
  </div>
</form>