<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Dashboard" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="dashboard">
       <h2>Dashboard</h2>
       <button onclick="openDialog(event)" data-form-type="file">File Upload</button>
       <button onclick="openDialog(event)" data-form-type="folder">New Folder</button>
      </section>
      <dialog onclose="onCloseHandler()">
        <button onclick="closeDialog()">x</button>
      </dialog>
    </main>
    <%- include('./footer') %>
  </body>
</html>
