<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Dashboard" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="dashboard">
        <h2>Dashboard</h2>
        <button onclick="openDialog(event)" data-form-type="file">File Upload</button>
        <button onclick="openDialog(event)" data-form-type="folder">New Folder</button>
      
        <% if (currentUser.folders.length > 0) { %>
          <ul>
            <% currentUser.folders.forEach((folder) => { %>
              <li>
                <p><%= folder.name %>
              </li>
            <% }) %>
          </ul>
        <% } %>
      </section>

      <dialog onclose="onCloseHandler()" onclick="closeDialog(event)"></dialog>
    </main>
    <%- include('./footer') %>
  </body>
</html>
