<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Home" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="home">
        <h2>Home</h2>
        <%- include('./comingSoon') %>
      </section>
    </main>
    <%- include('./footer') %>
  </body>
</html>
