<!DOCTYPE html>
<html lang="en">
<%- include('./head', { title: 'Login' }) %>
<body>
  <%- include('./header') %>
  <main>
    <section id="login">
      <h2>Log in</h2>
      <%- include('./loginForm') %>
      <p><a href="/account/create">Need an account?</a></p>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>