<!DOCTYPE html>
<html lang="en">
<%- include('./head', { title: "Support" }) %>
<body>
  <%- include('./header') %>
  <main>
    <section id="support">
      <%- include('./comingSoon') %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>