<form action=""  method="dialog" onsubmit="onSubmit(event, deleteItem)" onclick="stopPropagation(event)" class="form-edit-folder" data-form-type="deleteFile" data-item-id="<%= fileID %>">
  <p><%= msg %></p>
  <div class="form-controls">
    <button type="button" onclick="closeDialog(event)" class="btn-cancel">Cancel</button>
    <button type="submit">Delete</button>
  </div>
</form>