<form action="<%= locals.formAction ?? '' %>" method="dialog" onsubmit="onSubmit(event, shareFolder)" onclick="stopPropagation(event)" data-item-id="<%= folderID %>">
  <h2>Share Folder</h2>
  <ul>
    <li class="form-item">
      <label for="share_duration">Enter number of days for share duration</label>
      <input type="number" name="share_duration" id="share_duration" min="1" max="30">
      <% if (locals.errors?.share_duration) { %>
        <p class="input-error active-error"><%= errors.share_duration.msg %></p>
      <% } %>
    </li>
    <li class="form-item">
      <label for="name">Enter your name</label>
      <input name="name" id="name" type="text" autocomplete="off" placeholder="Enter your name" value="<%= locals.inputs?.name %>">
    </li>
  </ul>
  <div class="form-controls">
    <button type="button" onclick="closeDialog(event)" class="btn-cancel">Cancel</button>
    <button type="submit" data-open="true">Share</button>
  </div>
</form>