@define-mixin list $type, $descendant {
  .$(type) .$(descendant) {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.25rem;
    margin-right: 2rem; /* Triggers text-overflow at a smaller threshold */
  }
}

/* Small devices */
@media screen and (min-width: 481px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Desktops */
@media screen and (min-width: 1024px) {
}
