@import "base/reset.css";
@import "base/root.css";
@import "base/buttons.css";
@import "base/drivePath.css";
@import "base/files.css";
@import "base/folders.css";
@import "base/footer.css";
@import "base/forms.css";
@import "base/header.css";
@import "base/icons.css";
@import "base/controls.css";
@import "base/dialog.css";

.list-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  text-overflow: ellipsis;
  padding: 0.5rem;
}

.list-item > :first-child {
  display: flex;
  align-items: center;
}

/* Small devices */
@media screen and (min-width: 481px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Desktops */
@media screen and (min-width: 1024px) {
}
