@import "base/buttons.css";
@import "base/drivePath.css";
@import "base/files.css";
@import "base/folders.css";
@import "base/footer.css";
@import "base/forms.css";
@import "base/header.css";
@import "base/icons.css";
@import "base/reset.css";
@import "base/root.css";

.list-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  text-overflow: ellipsis;
  padding: 0.5rem;
}

.list-item > :first-child {
  display: flex;
  align-items: center;
}

.list-item-controls {
  display: flex;
  justify-content: end;
  position: relative;
}

.controls-more {
  display: flex;
  flex-direction: column;
}

.controls-more > * {
  display: flex;
  align-items: center;
}

dialog {
  width: 90%;
  max-width: 200px;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 4px black;
}

dialog::backdrop {
  backdrop-filter: blur(0.05rem);
}

dialog:has(.create-folder, .upload-files) {
  margin: 15vh auto;
}

/* Small devices */
@media screen and (min-width: 481px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Desktops */
@media screen and (min-width: 1024px) {
}
