#controls {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.list-item-controls {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
}

.controls-more {
  display: flex;
  flex-direction: column;
}

.controls-more > * {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.controls-more > a {
  border-radius: var(--border-radius-l-sm);
}

.controls-more > a:hover {
  background-color: var(--bkg-color-tertiary);
  color: var(--font-color-secondary);
}

.controls-more > button span {
  flex: 1;
  text-align: start;
}

/* Small devices */
@media screen and (min-width: 481px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
  .account-controls {
    display: flex;
  }

  .account-controls > li {
    flex: 1;
  }

  .account-controls button > span {
    flex: 1;
  }

  .account-controls button[type="submit"] {
    width: 100%;
    display: flex;
    background-color: var(--bkg-color-primary);
  }
}
