#controls {
  display: flex;
}

.list-item-controls {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
}

.controls-more {
  display: flex;
  flex-direction: column;
}

.controls-more > * {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.controls-more > button span {
  flex: 1;
  text-align: start;
}
