dialog {
  width: 100%;
  max-width: 200px;
  border: none;
  border-radius: var(--border-radius-l-md);
  background-color: var(--bkg-color-secondary);
  box-shadow: 0px 1px 4px var(--box-shadow-color-primary);
  margin: 0;
}

dialog :focus {
  outline: 1px solid black;
}

dialog::backdrop {
  backdrop-filter: blur(0.05rem);
}

dialog:has(.form-create-folder, .form-upload-files) {
  margin: 15vh auto;
}

dialog > :first-child {
  padding: 1rem 0.75rem;
}

@media screen and (max-width: 320px) {
  dialog {
    margin: 0 auto;
  }
}

/* Small devices */
@media screen and (min-width: 481px) {
  dialog {
    max-width: 300px;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
  dialog {
    /* max-width: 400px; */
  }

  dialog:has(> article) {
    background-color: red;
    max-width: 400px;
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
}
