.drive-path {
}

.drive-path ul {
  display: flex;
  flex-wrap: wrap;
}

.drive-path li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.drive-path li > a {
  border-radius: var(--border-radius-l-lg);
  display: inline-block;
  font-weight: 500;
}

.drive-path li > a:not(.chevron):hover {
  background-color: var(--bkg-color-secondary);
}

.drive-path span.chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drive-path li a {
  font-size: 1.75rem;
  padding: 0.25rem 1.25rem;
}
