form:not(.logout) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form button {
  min-width: 75px;
}

form button[type="submit"] {
  background-color: lightgreen;
}

form button[type="submit"]:disabled {
  background-color: lightgrey;
}

.form-item > .input-error {
  color: red;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-item > .input-error.active-error {
  border: unset;
  clip: unset;
  height: unset;
  margin: unset;
  overflow: unset;
  padding: unset;
  position: unset;
  width: unset;
}

.form-controls {
  display: flex;
  justify-content: end;
  gap: var(--form-buttons-gap);
  margin-top: 1rem;
}

/* Create account */

/* Create folder */

/* Upload */
#upload_files {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

#upload_files:focus + label[for="upload_files"] {
  outline: 1px solid #000;
  outline: 1px solid -webkit-focus-ring-color;
}

.upload-files {
  /* padding: 0.5rem; */
}

.upload-files label[for="upload_files"] {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  min-width: 44px;
  min-height: 44px;
  background-color: lightgrey;
  border-radius: var(--button-border-radius);
}

.upload-files label[for="upload_files"]:hover {
  cursor: pointer;
}

.upload-files label[for="upload_files"]:active {
  transform: translateY(2px);
}

.upload-count {
  margin-top: 0.5rem;
}

.upload-preview li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Edit file */

/* Edit folder */

/* Delete file */

/* Delete folder */
