form:not(.logout) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form button {
  padding: 0.25rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form button[type="submit"] {
  background-color: var(--bkg-color-quinary);
}

form button[type="submit"]:disabled {
  background-color: lightgrey;
  pointer-events: none;
}

form button[type="submit"]:hover {
  background-color: var(--bkg-color-tertiary);
}

.btn-cancel {
  background-color: #ff7070;
}

.form-item > label {
  font-weight: 600;
}

.form-item
  > label:not(
    [for="folder_name"],
    [for="upload_files"],
    [for="file_name"]
  )::after {
  content: "*";
  color: red;
  font-family: arial;
  font-size: larger;
  margin-left: 0.15rem;
}

.form-item > .input-error {
  color: red;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  font-weight: 500;
}

.form-item > .input-error.active-error {
  border: unset;
  clip: unset;
  height: unset;
  margin: unset;
  overflow: unset;
  padding: unset;
  position: unset;
  width: unset;
}

.form-controls {
  display: flex;
  justify-content: end;
  gap: var(--form-buttons-gap);
  margin-top: 1rem;
}

/* Login Account */
.form-login > p {
  text-align: end;
}

.form-login > p > :last-child {
  color: var(--bkg-color-tertiary);
}

.form-login > p > :last-child:hover {
  text-decoration: underline;
}

/* Login Account */
/* Create account */
.form-create-account,
.form-login {
  margin-top: 1rem;
}

.form-login,
.form-create-account {
  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* Create folder */

/* Upload */
#upload_files {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

#upload_files:focus + label[for="upload_files"] {
  outline: 1px solid #000;
  outline: 1px solid -webkit-focus-ring-color;
}

.form-upload-files {
  /* padding: 0.5rem; */
}

.form-upload-files label[for="upload_files"] {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  min-width: 44px;
  min-height: 44px;
  background-color: lightgrey;
  border-radius: var(--border-radius-l-sm);
}

#upload_files:focus + label[for="upload_files"],
.form-upload-files label[for="upload_files"]:hover {
  cursor: pointer;
  background-color: var(--bkg-color-tertiary);
  color: #fff;
}

.form-upload-files label[for="upload_files"]:active {
  transform: translateY(2px);
}

.upload-count {
  margin-top: 0.5rem;
}

.upload-preview li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Edit file */
.form-edit-folder label,
.form-edit-file label {
}

/* Edit folder */

/* Delete file */

/* Delete folder */

@media screen and (min-width: 481px) {
  form button {
    min-width: 100px;
  }

  /* Login Account */
  /* Create account */
  .form-login,
  .form-create-account {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Desktops */
@media screen and (min-width: 1024px) {
  #signup,
  #login {
  }
}
