.form-item > .input-error {
  color: red;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-item > .input-error.active-error {
  border: unset;
  clip: unset;
  height: unset;
  margin: unset;
  overflow: unset;
  padding: unset;
  position: unset;
  width: unset;
}

/* Create account */

/* Create folder */

/* Upload */
.upload-files {
}

.upload-files label[for="upload_files"] {
}

#upload_files {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

#upload_files:focus + label[for="upload_files"] {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

/* Edit file */

/* Edit folder */

/* Delete file */

/* Delete folder */
