.header-main {
  padding: 1rem;
}

.nav-main {
  display: flex;
  justify-content: center;
}

.nav-left a {
  position: relative;
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
}

.nav-left a:hover h1 {
  rotate: -10deg;
  transition: rotate 150ms ease-in;
}

.nav-left a h1 {
  position: absolute;
  bottom: 0%;
  background: white;
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
  transition: rotate 150ms ease-out;
  font-size: 1.75rem;
}

.nav-right-wrapper {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  z-index: 99;
  background-color: white;
  transition: all 500ms ease-out;
  /*  Why does text-wrap: nowrap; work in this selector
  *   But not in selector .nav-main a {}?
  */
  text-wrap: nowrap;
}

.nav-right-wrapper.active {
  visibility: visible;
  width: 100%;
  transition: all 500ms cubic-bezier(0.44, 1.54, 1, 0.92);
}

.nav-right {
  margin-top: 2.5rem;
}

.nav-right > li {
  position: relative;
  padding: 0.5rem;
}

.nav-right li > ul,
.nav-right li > ul > li {
  /* padding: 0.5rem 0; */
}

.nav-right .account-access ul {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
}

.nav-right .account-access:has(a:hover) ul {
  visibility: visible;
  position: relative;
}

.btn-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  margin: 0.5rem;
}

/* Small devices */
@media screen and (min-width: 481px) {
  .header-main {
    padding: 1rem 0;
  }

  .nav-main {
    justify-content: space-between;
  }

  .nav-right-wrapper {
    visibility: visible;
    position: relative;
    z-index: unset;
    width: auto;
  }

  .nav-right {
    margin-top: 0;
    display: flex;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Desktops */
@media screen and (min-width: 1024px) {
}
