/*
 * Define font-face(s) here
 * Define custom variables here
 * Define general styling here
 */

@font-face {
  font-family: Raleway;
  src: url("Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

:root {
  --font-family-primary: Raleway, sans-serif;
  --font-color-primary: #2e282a;
  --bkg-color-primary: #17bebb;
  --bkg-color-secondary: #edb88b;
  --bkg-color-tertiary: #ef3e36;
  --form-buttons-gap: 1rem;
  --input-padding: 0.25rem;
  --controls-gap: 0.5rem;
  --border-radius-l-sm: 0.25rem;
  --border-radius-l-md: 0.5rem;
  --border-radius-l-lg: 1.25rem;
  --border-radius-p-sm: 0.25%;
  --border-radius-p-md: 5%;
  --border-radius-p-lg: 10%;
}

/* General styling */

body {
  min-height: 100svh;
  display: grid;
  grid-auto-rows: min-content 1fr min-content;
  background-color: var(--bkg-color-primary);
  font-family: var(--font-family-primary);
}

main {
  padding: 1rem;
}

input {
  width: 100%;
  padding: var(--input-padding);
  border: 1px solid black;
  border-radius: var(--border-radius-sm);
}

.list-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
  position: relative;
  border: 1px solid transparent;
  border-bottom-color: black;
}

.list-item:hover {
  background-color: lightgray;
}

.list-item > :first-child {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

/* Small devices */
@media screen and (min-width: 481px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Desktops */
@media screen and (min-width: 1024px) {
  main > :first-child {
    margin: auto;
    max-width: 1000px;
  }
}
